<div class="split_background">
<div class="container">
  <div class="dashboard">
<h1> Welcome to the admin dashboard </h1>

<h2>Registered users </h2>
<hr>
<table class="table">
  <thead>
      <tr>
        <td>ID</td>
        <td>Email</td>

      </tr>
  </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>

        </tr>
        <%end%>
    </tbody>
</table>

<h2> The five latest artworks posted </h2>
<hr>
<table class="table">
  <thead>
      <tr>
        <td>Img tag</td>
        <td>Title</td>
        <td>User Type </td>
      </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
    <td><%= link_to (image_tag post.image.url(:thumb)), post_path(post) %></td>
  <td>  <%= post.title %></td>
    <td><%= post.description.first(20) %>...</td>
    <td>  <%= link_to "read more", post %></td>
    </tr>
      <% end %>
    </tbody>
</table>
  </div>



  </div>
</div>
</div>
