<div class="container">
<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div id="wrapper">
	<div id="columns">

    <% @posts.each do |post| %>
    <div class= "pin">
      <%= image_tag post.image.url (:small) %>
      <br>
      <%= post.title %>
      <br>
      <%= post.description %>
      <br>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
</div>
</div>
</div>
<br>

<%= link_to 'New Post', new_post_path %>
</div>
