<div class="post-index">
<div class="container">



<h1>Gallery</h1>



<%= link_to 'New Post', new_post_path, class: "btn btn-default" %>
<div id="wrapper">
	<div id="columns">

    <% @posts.each do |post| %>
    <div class= "pin">
      <p>
    <div class="img">  <%= image_tag post.image.url (:small) %> </div>
    <hr>
      <h4><strong><%= post.title %></strong></h4>
			<p><strong><%= number_to_currency(post.price) %> </strong></p>
      <br>
      <%= post.description %>
    </p>
      <br>

      <%= link_to 'Show', post, class: "btn btn-show" if current_user.admin? %>

		  <%= link_to 'Edit', edit_post_path(post) if current_user.admin? %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin?%>
    </div>
    <% end %>

</div>
</div>

</div>
</div>
</div>
