<div class="post-index">
<div class="container">
<p id="notice"><%= notice %></p>

<h1>Gallery</h1>

<%= link_to 'New Post', new_post_path, class: "btn btn-default" if current_user.admin?%>
<div id="wrapper">
	<div id="columns">

    <% @posts.each do |post| %>
    <div class= "pin">
      <p>
    <div class="img">  <%= image_tag post.image.url (:small) %> </div>
    <hr>
      <h4><%= post.title %></h4>
			<p><%= number_to_currency(post.price) %> </p>
      <br>
      <%= post.description %>
    </p>
      <br>

      <%= link_to 'Show', post, class: "btn btn-show" %>

		  <%= link_to 'Edit', edit_post_path(post) if current_user.admin? %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin?%>
    </div>
    <% end %>

</div>
</div>

</div>
</div>
</div>
