<div class="contact_form">
<div class="col-md-6">

  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% elsif flash[:warning] %>
      <div class="alert alert-danger"><%= flash[:warning] %></div>
    <% else %>
  <% end %>

<h1>Contact Us</h1>

  <%= form_for :contact do |f| %>
  <div class="field">
      <%= f.label :Email %> <br>
      <%= f.text_field :email, placeholder: 'type email here' %>
  </div>
  <div class="field">
      <%= f.label :Message %> <br>
      <%= f.text_area :message, placeholder: 'type message here', :rows => 10, style: 'width:100%;' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "send", class: "btn btn-default" %>
  </div>
  <% end %>

</div>
</div>
