<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMarketplace</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|Quicksand" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%= yield %>
  </div>
  </body>
</html>
